- var out = htmlWebpackPlugin.options.mock;
doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		meta(name="format-detection", content="telephone=no")
		title #{out.title}
	body
		h1 #{out.title}